@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
.bod-1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* page-1 */
.home_section{
    width: 50vw;
    margin: 0px;
    height: 100vh;
}

#home_left-section{
    background-color: #F3F3E9;
    padding:3% 0px 0px 10%;
}
#home_right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #27B158;
}
ul{
    display: flex;
}
li{
    list-style: none;
    border-radius: 8px;
    background-color: #fff;
    margin: 0px 5px 0px 5px;
}
.home_heading{
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#home_Btn{
    background: #000;
    color: #fff;
    font-size: 1.3rem;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
}
.home_voting-status{
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}
#home_status{
    font-size: 3rem;
    font-weight: bold;
}
#home_Voting-img{
    width: 400px;
}
.home_psuedo-btn{
    border: none;
    color: #51584D;
    background-color: transparent;
    font-size: 0.9rem;
    padding:5px 10px 5px 10px;
}
@media screen and (max-width:800px) {
    .bod-1{
        flex-direction: column;
    }
    .home_section{
        width: 100vw;
    }
    #left-section{
        height: 40vh;
    }
    .home_heading{
        height: 20vh;
        font-size: 2.2rem;
    }
    #home_Btn{
        font-size: 1rem;
    }
    #home_Voting-img{
        width: 200px;
    }
    #home_right-section{
        flex-direction: row;
        height: 60vh;
        padding-top: 5vh;
        align-items: flex-start;
    }
}